.title-detail-backdrop{
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
   transition-property: opacity;
	transition-duration: 500ms;
	z-index: 999;
}
.title-detail-container{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	overflow-y: auto;
	z-index: 1000;
	&::-webkit-scrollbar{
		display: none;
	}
	.title-detail-modal{
		position: absolute;
		background-color: #181818;
		top: 2em;
		width: 911.06px;
		min-width: 850px;
		border-radius: 6px;
      font-size: 16px;
		transition-property: opacity, transform;
		transition-duration: 500ms;
		overflow: hidden;
		z-index: 20;
		.title-detail-header{
			position: relative;
			width: 100%;
			.title-media{
            position: relative;
            padding-top: 56.3925%;
            overflow: hidden;
				.title-player{
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
				}
				.title-backdrop{
					position: absolute;
               top: 0;
					width: 100%;
					height: 100%;
					opacity: 1;
					transition-property: opacity;
					transition-duration: 500ms;
					z-index: 2;
				}
			}
			.title-logo-and-buttons{
				position: absolute;
				left: 3em;
				bottom: 4em;
				width: 40%;
				z-index: 3;
				.title-logo{
               width: 100%;
               height: 145.75px;
               margin-bottom: 1.5em;
               object-fit: contain;
               object-position: left bottom;
				}
				.button-controls-container{
               display: flex;
               .play-button{
                  background-color: #fff;
                  max-height: 42px;
                  min-height: 32px;
                  margin: 0.25em;
                  padding: 0.8rem 2.4rem 0.8rem 2rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border: none;
                  border-radius: 4px;
                  &:hover{
                     background-color: #e6e6e6;
                     cursor: pointer;
                  }
                  svg{
                     width: 30px;
                     height: 30px;
                     margin-right: 1rem;
                  }
                  span{
                     font-size: 1.6rem;
                     font-weight: 500;
                     line-height: 2.4rem;
                  }
               }
               .my-list{
                  position: relative;
                  width: 42px;
                  height: 42px;
                  padding: .8rem;
                  margin: .25em .3em;
                  border: 2px solid rgb(255 255 255 / 50%);
                  border-radius: 50%;
                  background-color: rgb(42 42 42 / 60%);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  &:hover{
                     border: 2px solid #fff;
                  }
                  &:hover > .my-list-tooltip{
                     opacity: 1;
                     visibility: visible;
                  }
                  svg{
                     width: 1.8rem;
                     height: 1.8rem;
                     min-width: 1.8rem;
                     
                  }
                  .my-list-tooltip{
                     color: rgb(24 24 24);
                     background-color: rgb(230 230 230);
                     position: absolute;
                     top: 0;
                     left: 50%;
                     padding: 0.6rem 1.6rem;
                     font-size: 1.6rem;
                     font-weight: 500;
                     white-space: nowrap;
                     border-radius: 0.3rem;
                     box-shadow: rgb(0 0 0 / 75%) 0px 3px 1rem;
                     transform: translate(-50%, -150%);
                     box-sizing: border-box;
                     visibility: hidden;
                     opacity: 0;
                     z-index: 1;
                     &::after{
                        content: "";
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        width: 0;
                        height: 0;
                        border-top: 10px solid rgb(230 230 230);
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        transform: translate(-50%, 95%);
                     }
                  }
               }
               .thumbs-rate{
                  position: relative;
                  width: 42px;
                  height: 42px;
                  margin: .25em;
                  padding: .8rem;
                  border: 2px solid rgb(255 255 255 / 50%);
                  border-radius: 50%;
                  background-color: rgb(42 42 42 / 60%);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  &:hover{
                     border: 2px solid #fff;
                  }
                  &:hover > .thumbs-selection-overlay{
                     opacity: 1;
                     visibility: visible;
                     transform: translate(-50%, -50%);
                  }
                  .your-rate{
                     width: 1.8rem;
                     height: 1.8rem;
                     min-width: 1.8rem;
                     svg{
                        width: 100%;
                        height: 100%;
                     }
                  }
                  .thumbs-selection-overlay{
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     width: 13rem;
                     padding: .8rem;
                     border-radius: 3rem;
                     display: flex;
                     justify-content: space-between;
                     align-items: center;
                     transform: translate(-50%, -50%) scaleX(.85);
                     background-color: rgb(35 35 35);
                     box-shadow: rgb(0 0 0 / 60%) 0px 0px 2px 0px,
                                 rgb(0 0 0 / 50%) 0px 8px 16px 0px;
                     transition-property: opacity, visibility, transform;
                     transition-duration: .4s;
                     visibility: hidden;
                     opacity: 0;
                     cursor: default;
                     &:hover{
                        opacity: 1;
                        visibility: visible;
                     }
                     .thumbs-selection{
                        position: relative;
                        width: 40px;
                        height: 40px;
                        margin: 0 .2rem;
                        border-radius: 50%;
                        background-color: transparent;
                        cursor: pointer;
                        &:hover{
                           background-color: rgb(128 128 128 / 20%);
                        }
                        &:hover > .thumbs-selection-tooltip{
                           visibility: visible;
                           opacity: 1;
                        }
                        svg{
                           box-sizing: initial;
                           width: 25px;
                           height: 25px;
                           padding: 7.5px;
                        }
                        .thumbs-selection-tooltip{
                           position: absolute;
                           top: 0;
                           left: 50%;
                           padding: .6rem 1.6rem;
                           border-radius: .3rem;
                           font-size: 1.6rem;
                           font-weight: 500;
                           white-space: nowrap;
                           color: rgb(24 24 24);
                           background-color: rgb(230 230 230);
                           box-shadow: rgb(0 0 0 / 75%) 0px 3px 1rem;
                           transform: translate(-50%, -145%);
                           visibility: hidden;
                           opacity: 0;
                           &::after{
                              content: "";
                              position: absolute;
                              left: 50%;
                              bottom: 0;
                              width: 0;
                              height: 0;
                              border-top: 10px solid rgb(230 230 230);
                              border-left: 10px solid transparent;
                              border-right: 10px solid transparent;
                              transform: translate(-50%, 95%);
                           }
                        }
                     }
                  }
               }
            }
			}
			.title-close{
				background-color: #181818;
				position: absolute;
				top: 0;
				right: 0;
				width: 36px;
				height: 36px;
				margin: 1em;
            padding: 8px;
				border-radius: 50%;
            overflow: hidden;
				cursor: pointer;
				z-index: 4;
				svg{
					width: 100%;
					height: 100%;
					&:focus{
						outline: none;
					}
				}
			}
			.title-audio-toggle{
            background-color: rgb(42 42 42 / 60%);
				position: absolute;
				right: 3em;
				bottom: 10%;
				width: 42px;
				height: 42px;
            margin-bottom: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
				border: 2px solid rgb(255 255 255 / 50%);
				border-radius: 50%;
				transition: opacity .5s ease;
				opacity: .4;
				z-index: 3;
            cursor: pointer;
				&:hover{
					border: 2px solid #fff;
					opacity: 1;
				}
				svg{
					width: 22px;
					height: 22px;
				}
			}
			.shadowBack{
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(0deg, #181818, transparent 50%);
				z-index: 2;
			}
		}
      .title-detail-body{
         padding: 0 3em;
         padding-bottom: 1.5em;
         .title-detail-metadata{
            display: grid;
            column-gap: 2em;
            grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
            .metadata-left{
               .metadata-info{
                  display: flex;
                  align-items: center;
                  margin: 0.8em 0;
                  .match-score{
                     color: #46d369;
                     font-weight: 500;
                     margin: .25em .5em .25em 0;
                  }
                  .title-year{
                     color: #fff;
                     font-weight: 300;
                     margin-right: 0.5em;
                  }
                  .title-duration{
                     color: #fff;
                     font-weight: 300;
                     margin-right: 0.5em;
                  }
                  .title-quality{
                     color: rgb(255 255 255 / 90%);
                     font-size: .7em;
                     padding: 0 .5em;
                     margin-right: .5em;
                     border-radius: 3px;
                     border: 1px solid rgb(255 255 255 / 40%);
                  }
                  svg{
                     width: 2em;
                     height: 2em;
                  }
               }
               .title-synopsis{
                  margin: 1em 0 .5em;
                  p{
                     color: #fff;
                     font-weight: 300;
                     line-height: 26px;
                  }
               }
            }
            .metadata-right{
               font-size: 14px;
               display: flex;
               flex-direction: column;
               .title-tags{
                  color: #fff;
                  font-weight: 300;
                  line-height: 20px;
                  margin: 0.5em .5em 0.5em 0;
                  .title-tag-label{
                     color: #777;
                  }
                  .title-tag-item{
                     color: #fff;
                     cursor: pointer;
                     &:hover{
                        text-decoration: underline;
                     }
                  }
               }
            }
         }
         .about-title-container{
            color: #fff;
            font-size: 16px;
            padding-bottom: 2em;
            .about-title-header{
               font-size: 24px;
               font-weight: 400;
               margin-top: 48px;
               margin-bottom: 20px;
               strong{
                  font-weight: 500;
               }
            }
            .about-title-body{
               .about-tag{
                  font-size: 14px;
                  line-height: 20px;
                  margin: 0.5em 0.5em 0.5em 0;
                  word-break: break-word;
                  .tag-label{
                     color: #777;
                  }
                  .tag-item{
                     cursor: pointer;
                     &:hover{
                        text-decoration: underline;
                     }
                  }
               }
            }
         }
      }
	}
}