.nav-home {
	position: fixed;
	top: 0;
	width: 100%;
	height: 41px;
	padding: 0 4%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-image: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.7) 10%,
		transparent
   );
	transition: background-color 0.4s;
	z-index: 20;
	.menu-navigation {
		display: flex;
		align-items: center;
		.logo-icon {
         margin-right: 5px;
			a{
            display: flex;
            font-size: 1.2rem;
            svg{
               height: 1.8em;
            }
         }
		}
		.navigation-container {
         display: flex;
         list-style: none;
         font-size: 1.2rem;
         .navigation-item {
            margin-left: 18px;
            &:first-child {
               display: none;
            }
            a {
               color: #e5e5e5;
               font-weight: 300;
               text-decoration: none;
               transition: color 0.4s;
               &:hover {
               color: #b3b3b3;
               transition: color 0.4s;
               }
            }
         }
		}
	}
	.secondary-navigation {
      position: absolute;
      right: 4%;
		height: 100%;
		display: flex;
		align-items: center;
		.search-wrapper {
			margin-right: 10px;
			.search {
				.search-btn {
					height: 100%;
					padding: 0 6px;
					border: none;
					background-color: transparent;
					cursor: pointer;
					svg{
						fill: #fff;
					}
				}
            .search-input{
               display: flex;
               align-items: center;
               background: rgba(0 0 0 / 75%);
               border: 1px solid rgb(255 255 255 / 85%);
               .search-icon{
                  fill: #fff;
                  padding: 0 6px;
                  box-sizing: unset;
               }
               input{
                  color: #fff;
                  background: transparent;
                  width: 212px;
                  height: 34px;
                  padding: 7px 14px 7px 7px;
                  font-size: 14px;
                  line-height: 34px;
                  display: inline-block;
                  border: none;
                  outline: none;
                  box-sizing: border-box;
                  transition: all .3s;
                  &::placeholder{
                     font-family: Arial, Helvetica, sans-serif;
                     color: rgb(255 255 255 / 50%);
                  }
                  &:valid + .icon-close{
                     visibility: visible;
                  }
                  &:invalid + .icon-close{
                     visibility: hidden;
                  }
               }
               .icon-close{
                  margin: 0 6px;
                  cursor: pointer;
                  svg{
                     display: block;
                  }
               }
            }
			}
		}
		.notifications {
			margin-right: 10px;
			margin-top: 0.2em;
			padding: 2px 6px;
			svg {
				fill: #fff;
				cursor: pointer;
			}
		}
		.account-menu {
         position: relative;
			display: flex;
			align-items: center;
			cursor: pointer;
			.profiles {
				display: flex;
				align-items: center;
				.profile-select {
					position: relative;
					height: 32px;
					width: 32px;
					img {
						height: 32px;
						width: 32px;
						border-radius: 4px;
					}
					.arrow-open {
						position: absolute;
						left: 50%;
						bottom: -19px;
						width: 0;
						height: 0;
						margin-left: -8px;
						border: 8px solid transparent;
						border-bottom-color: #e5e5e5;
						opacity: 0;
						transition-duration: 150ms;
						transition-property: opacity;
						cursor: default;
					}
				}
				.arrow-close {
					border-color: #fff transparent;
					border-style: solid;
					border-width: 5px 5px 0;
					width: 0;
					height: 0;
					margin-left: 10px;
					transition: transform 0.4s ease;
				}
			}
         .account-dropdown{
            color: #fff;
            background-color: rgb(0 0 0/ 90%);
            position: absolute;
            top: 53px;
            right: 0;
            width: 220px;
            border: 1px solid rgba(255 255 255 / 15%);
            font-size: 13px;
            line-height: 21px;
            transition-property: opacity;
            transition-duration: 150ms;
            cursor: default;
            ul{
               list-style: none;
            }
            .dropdown-content{
               .list-profiles{
                  width: 100%;
                  padding: 10px 0 5px;
                  .item-profile{
                     padding: 5px 10px;
                     .profile{
                        cursor: pointer;
                        &:hover > .profile-name{
                           text-decoration: underline;
                        }
                        .profile-icon{
                           display: inline-block;
                           vertical-align: middle;
                           width: 32px;
                           height: 32px;
                           margin-right: 10px;
                           border-radius: 4px;
                        }
                        .profile-name{
                           display: inline-block;
                           width: 100px;
                           line-height: 18px;
                           font-weight: 300;
                           text-overflow: ellipsis;
                           vertical-align: middle;
                           white-space: pre;
                           overflow: hidden;
                        }
                     }
                  }
               }
               .account-links{
                  width: 100%;
                  padding-bottom: 10px;
                  .sub-menu-item{
                     display: block;
                     font-size: 13px;
                     line-height: 16px;
                     font-weight: 300;
                     padding: 5px 10px;
                     .item-link{
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        &:hover > span{
                           text-decoration: underline;
                        }
                        svg{
                           color: #b3b3b3;
                           padding: 0 13px 0 5px;
                           box-sizing: content-box;
                        }
                     }
                  }
               }
               .sign-out{
                  padding: 10px 0;
                  border-top: 1px solid rgb(255 255 255 / 25%);
                  .sign-out-item{
                     display: block;
                     font-size: 13px;
                     line-height: 16px;
                     font-weight: 300;
                     text-align: center;
                     padding: 5px 10px;
                     &:hover > span{
                        text-decoration: underline;
                     }
                     span{
                        display: block;
                        width: 100%;
                        cursor: pointer;
                     }
                  }
               }
            }
         }
		}
	}
}

@media (min-width: 1500px){
	.nav-home{
		padding: 0 60px;
      .secondary-navigation{
         right: 60px;
      }
	}
}

@media (min-width: 1330px){
	.nav-home{
      .menu-navigation {
         .navigation-container {
            .navigation-item {
               margin-left: 20px;
            }
         }
      }
		.secondary-navigation{
         .search-wrapper{
            margin-right: 15px;
         }
         .notifications{
            margin-right: 15px;
         }
      }
	}
}

@media (min-width: 1200px){
	.nav-home {
      .menu-navigation {
         .logo-icon{
            margin-right: 25px;
         }
         .navigation-container {
            font-size: 14px;
         }
      }
   }
}

@media (max-width: 950px){
	.nav-home {
      .secondary-navigation{
         .account-menu{
            .profiles{
               .arrow-close{
                  display: none;
               }
            }
         }
      }
   }
}

@media (min-width: 950px){
	.nav-home {
      height: 68px;
      .menu-navigation {
         .logo-icon {
            a{
               font-size: 25px;
               svg{
                  height: auto;
               }
            }
         }
      }
   }
}

@media (max-width: 885px){
	.nav-home {
      .menu-navigation {
         .navigation-container {
            .navigation-item{
               &:first-child{
                  display: flex;
                  align-items: center;
                  a{
                     font-weight: 500;
                  }
                  &::after{
                     content: "";
                     width: 0;
                     height: 0;
                     border-width: 5px 5px 0;
                     border-color: #fff transparent transparent;
                     border-style: solid;
                     margin-left: 5px;
                  }
               }
               &:not(:first-child){
                  display: none;
               }
            }
         }
      }
   }
}

@media (max-width: 480px){
   .nav-home .secondary-navigation .search-wrapper .search .search-input input{
      width: auto;
   }
}
@media (max-width: 400px){
   .nav-home .secondary-navigation .notifications{
      display: none;
   }
}