@import "./scss/Base";
@import "./scss/Fonts";

*{
   margin: 0;
   padding: 0;
   font-family: "Netflix Sans", sans-serif;
   line-height: 1.2;
   box-sizing: border-box;
}

@import "./pages/home/components/NavBar/NavBar";
@import "./pages/home/components/Header/Header";
@import "./pages/home/components/TitleDetail/TitleDetail";
@import "./pages/home/components/TitleDetail/Episodes";
@import "./pages/home/components/TitleDetail/MoreLikeThis";
@import "./pages/home/components/SliderTitles/RowTitlesCard";
@import "./pages/home/components/MiniTitleDetail/MiniTitleDetail";
@import "./pages/search/Search";