@import "./scss/Base";
@import "./scss/Fonts";

*{
   margin: 0;
   padding: 0;
   font-family: "Netflix Sans", sans-serif;
   line-height: 1.2;
   box-sizing: border-box;
}

@import "./components/NavBar/NavBar";
@import "./components/Footer/Footer";
@import "./pages/login/Login";
@import "./pages/browse/components/Header/Header";
@import "./pages/browse/components/TitleModal/TitleModal";
@import "./pages/browse/components/TitleDetail/TitleDetail";
@import "./pages/browse/components/TitleDetail/Episodes";
@import "./pages/browse/components/TitleDetail/MoreLikeThis";
@import "./pages/browse/components/SliderTitles/RowTitlesCard";
@import "./pages/browse/components/SliderTitles/TitleCardSkeleton";
@import "./pages/browse/components/MiniTitleDetail/MiniTitleDetail";
@import "./pages/search/Search";
@import "./pages/browse/components/Profiles/Profiles"